services:
  evolution_api:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    restart: always
    ports:
      - 8081:8080
    environment:
      - SERVER_URL=http://localhost:8081
      - AUTHENTICATION_TYPE=apikey
      - AUTHENTICATION_API_KEY=marcelo123
      - DATABASE_ENABLED=true
      - DATABASE_CONNECTION_CLIENT=sqlite
      - DATABASE_CONNECTION_DATABASE=:memory: